# Node modules and dependencies
node_modules/

# Build output
build/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
coverage/

# IDE and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Miscellaneous
*.local
*.swp
