/* src/styles/Navbar.css */

.navigationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    width: 57%;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #222;
  }
  
  .logoWrapper {
    display: flex;
    flex-grow: 1; /* Ensures logo is on the left */
  }
  
  .stylish {
    font-weight: bold;
  }
  
  .logo {
    padding-left: 4px;
    color: #ea4f4c;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .parent {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    height: 100%; /* Make each menu item fill the navbar height */
    display: flex;
    align-items: center; /* Center text vertically */
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent; /* Invisible border to avoid layout shift */
  }
  
  /* Hover style for main menu items */
  .parent:hover {
    color: #ea4f4c;
    box-shadow: inset 0px 0px 5px rgba(234, 79, 76, 0.6);
    border: 1px solid #ea4f4c;
  }
  
  .link {
    color: inherit; /* Inherits color from parent */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  /* Subnavigation styles */
  .subnavigation {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 50%; /* Center submenu */
    transform: translateX(-50%); /* Center the submenu relative to parent */
    min-width: 250px; /* Adjust this to make the submenu wider */
    background-color: #222;
    padding: 20px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45); /* Increased shadow */
    border-radius: 4px; /* Optional: Rounded corners for visual appeal */
  }
  
  /* Display the subnavigation on hover */
  .parent:hover .subnavigation {
    display: block;
  }
  
  /* Hover effect for submenu links */
  .subnavigation li {
    padding: 5px 20px;
  }
  
  .subnavigation .link {
    font-size: 14px;
    color: white;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .subnavigation .link:hover {
    color: #ff9800;
    box-shadow: inset 0px 0px 5px rgba(255, 152, 0, 0.6);
    border: 1px solid #ff9800;
    padding: 5px;
  }
  
  /* Remove plus/minus icons on hover for better visual appeal */
  .parent .link .fa-minus {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .parent .link .fa-plus {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .parent:hover .fa-minus {
    opacity: 1;
  }
  
  .parent:hover .fa-plus {
    opacity: 0;
  }
  